a{
	text-decoration:none;
}

a:hover{
	text-decoration:none;
	color:#ff7700;
}

.menu-main{
	float:left;
	margin:5px;
	width:40px;
	height:35px;
}

.menu-main:hover{
	float:left;
	margin:5px;
	width:40px;
	height:35px;
	background:#1d1d1d;opacity:0.6;filter:alpha(opacity=60)
	color:purple;
}

.menu-main2{
	float:right;
	margin:5px;
	width:40px;
	height:35px;
}

.menu-main2:hover{
	float:right;
	margin:5px;
	width:40px;
	height:35px;
	background:#1d1d1d;opacity:0.6;filter:alpha(opacity=60)
	color:#000;
}

.menu-main3{
	float:right;
	margin:5px;
	width:70px;
	height:35px;
}

.menu-main3:hover{
	float:right;
	margin:5px;
	width:70px;
	height:35px;
	background:#1d1d1d;opacity:0.6;filter:alpha(opacity=60)
	color:#000;
}

.uuaa{
	margin:0;
	position:fixed;
	bottom:45px;
	background:#1d1d1d;
	width:480px;
	height:410px;
	z-index:100;
}

.uuaa2{
	margin:5px;
	float:left;
	width:190px;
	height:400px;
}

.uuaa3{
	margin:5px;
	float:left;
	width:270px;
	height:400px;
}

.gancet{
	float:left;
	height:95px;
	width:95px;
	margin:2px;
	background:#0098f0;
}

.gancet:hover{
	float:left;
	height:95px;
	width:95px;
	margin:2px;
	background:red;
  transform:rotate(20deg);
-webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}

.gancet2{
	float:left;
	height:95px;
	width:165px;
	margin:2px;
	background:#0098f0;
}

.gancet2:hover{
	float:left;
	height:95px;
	width:165px;
	margin:2px;
	background:yellow;
  transform:rotate(-20deg);
-webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}

.recent-me{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:#0098f0;
}

.recent-me:hover{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:red;
	border-radius:100%;
  	transform:rotate(40deg);
-webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}

.recent-me1{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:red;

}

.recent-me1:hover{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:purple;
	border-radius:100%;
  	transform:rotate(-40deg);
-webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}

.recent-me2{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:purple;
}

.recent-me2:hover{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:#0098f0;
	border-radius:100%;
  	transform:rotate(40deg);
-webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}

.recent-me3{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:green;
}

.recent-me3:hover{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:yellow;
	border-radius:100%;
  	transform:rotate(-40deg);
-webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}


.recent-me4{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:yellow;
}

.recent-me4:hover{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:green;
	border-radius:100%;
  	transform:rotate(40deg);
-webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}

#hide-uuaa{
	display:none;
}

#button-uuaa{
	cursor:pointer;
	color:purple;
}

#mainkan{
	margin:5px auto;
	width:99%;
	height:610px;
	display:none;
}

#mainkan2{
	margin:5px auto;
	width:99%;
	height:610px;
	background:#fff;
	display:none;
}

#mainkan3{
	margin:5px auto;
	width:99%;
	height:610px;
	background:#fff;
	display:none;
}

#mainkan4{
	margin:5px auto;
	width:99%;
	height:610px;
	background:#fff;
	display:none;
}

.anak-main{
	width:90px;
	height:90px;
	float:left;
	margin:2px;
}

.anak-main:hover{
	width:90px;
	height:90px;
	border-radius:20%;
	background:#aaa;opacity:0.6;filter:alpha(opacity=60)
	float:left;
	margin:2px;
	cursor:pointer;
}

#button-search{
	cursor:pointer;
}

.search-w10{
	position:fixed;
	top:2px;
	right:2px;
	margin:0;
	width:200px;
	height:30px;
	background:#1d1d1d;
	border-radius:10px;
	display:none;
}

.header-boong{
	width:100%;
	height:30px;
	background:orange;opacity:0.6;filter:alpha(opacity=60)
}

.closed-w10{
	background:#d10000;margin-right:4px;float:right;color:white;text-align:center;width:50px;height:20px;font-family:sans-serif;
}

.closed-w10:hover{
	background:#ff0011;margin-right:4px;float:right;color:white;text-align:center;width:50px;height:20px;
	cursor:pointer;
}

.closed-w101{
	background:#d10000;margin-right:4px;float:right;color:white;text-align:center;width:50px;height:20px;font-family:sans-serif;
}

.closed-w101:hover{
	background:#ff0011;margin-right:4px;float:right;color:white;text-align:center;width:50px;height:20px;
	cursor:pointer;
}

.closed-w102{
	background:#d10000;margin-right:4px;float:right;color:white;text-align:center;width:50px;height:20px;font-family:sans-serif;
}

.closed-w102:hover{
	background:#ff0011;margin-right:4px;float:right;color:white;text-align:center;width:50px;height:20px;
	cursor:pointer;
}

.status-msg-body {display:none;
}
.status-msg-wrap {display:none;
}

/* baru */
.tutup-dulu{
	background:url(https://2.bp.blogspot.com/-zN1WwCe2Pr4/VykyDFwrECI/AAAAAAAABok/NRtWkDzOOjYiCzWLoY-g-rjl084k433TQCLcB/s1600/windows_10_material-wallpaper-1366x768.jpg)repeat scroll top left;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:0 auto;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:100;
}

.header-noneblande{
	width:100%;
	height:45px;
	background:#1d1d1d;
	margin:0px;
	bottom:0px;
	position:fixed;
	display:none;
}

.dekstop-home{
	background:url(https://2.bp.blogspot.com/-zN1WwCe2Pr4/VykyDFwrECI/AAAAAAAABok/NRtWkDzOOjYiCzWLoY-g-rjl084k433TQCLcB/s1600/windows_10_material-wallpaper-1366x768.jpg)repeat scroll top left;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:0 auto;
	width:100%;
	height:100%;
	overflow:auto;
	display:none;
	z-index:100;
}

.tengah-maincok{
	width:95%;
	height:650px;
	margin:5px auto;
}

.satu-kotak{
	width:290px;
	height:150px;
	background:blue;
	margin:5px;
}

.satu-kotak:hover{
	width:290px;
	height:150px;
	background:red;
	margin:5px;
	cursor:pointer;
 -webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}

.dua-kotak{
	float:left;
	width:140px;
	height:120px;
	background:yellow;
	margin:5px;
}

.dua-kotak:hover{
	float:left;
	width:140px;
	height:120px;
	background:blue;
	margin:5px;
	cursor:pointer;
 -webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}

.tiga-kotak{
	float:right;
	width:140px;
	height:120px;
	background:red;
	margin:5px;
}

.tiga-kotak:hover{
	float:right;
	width:140px;
	height:120px;
	background:yellow;
	margin:5px;
	cursor:pointer;
 -webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}

/* newers slide desk */
.mokacin{overflow:auto;background:#1c0166;width:345px;height:100%;position:fixed;top:0;right:0;z-index:100;display:none;}

.anak-mokacin{float:left;width:100%;height:60px;display:none;}
.anak-mokacin:hover{float:left;width:100%;height:60px;background:#1d1d1d;-webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;opacity:0.8;filter:alpha(opacity=80)}

#apps-main-dong{
	background:url(img/wallpaper.jpg)repeat scroll top left;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:0 auto;
	width:100%;
	height:100%;
	overflow:auto;
}

.cari-yuk{
	height:30px;
	width:145px;
	border:0;
	background:#00284f;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.cari-yuk:active{
	border:0;
	background:#fff;
	opacity:0.8;
	filter: alpha(opacity=80);
	color:white;
}

.tengah-main-apps{
	width:95%;
	margin:5px auto;
}

.iklan1{
	background:#011d45;
	float:left;
	margin:5px;
	height:70px;
	width:280px;
}

.iklan1:hover{
	background:#00284f;
	cursor:pointer;
	float:left;
	margin:5px;
	height:70px;
	width:280px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.magi-stel{
	float:left;
	width:50px;
	height:50px;
	margin:5px;
}

.h-empat-stel{
	color:white;
	margin-left:10px;
	margin-top:10px;
	float:left;
	font-family:sans-serif;
}

.satu-baris{
	float:left;
	width:290px;
	height:115px;
	margin:5px;
}

.dua-baris{
	float:left;
	width:290px;
	height:195px;
	margin:5px;
}

.tiga-baris{
	float:left;
	width:290px;
	height:275px;
	margin:5px;
}

.empat-baris{
	float:left;
	width:290px;
	height:355px;
	margin:5px;
}

.abzadah{
	margin:0;
	padding:5px;
	font-family:sans-serif;
	font-size:20px;
	color:white;
}
