/*	Layout me lepi
	©	2/26/16
	License by Me-lepi.github.io
*/
	
a{
	text-decoration:none;
}

a:hover{
	text-decoration:none;
	color:#ff7700;
}

.menu-main{
	float:left;
	margin:5px;
	width:40px;
	height:35px;
}

.menu-main:hover{
	float:left;
	margin:5px;
	width:40px;
	height:35px;
	background:#1d1d1d;opacity:0.6;filter:alpha(opacity=60)
	color:purple;
}

.menu-main2{
	float:right;
	margin:5px;
	width:40px;
	height:35px;
}

.menu-main2:hover{
	float:right;
	margin:5px;
	width:40px;
	height:35px;
	background:#1d1d1d;opacity:0.6;filter:alpha(opacity=60)
	color:#000;
}

.menu-main3{
	float:right;
	margin:5px;
	width:70px;
	height:35px;
}

.menu-main3:hover{
	float:right;
	margin:5px;
	width:70px;
	height:35px;
	background:#1d1d1d;opacity:0.6;filter:alpha(opacity=60)
	color:#000;
}

.uuaa{
	margin:0;
	position:fixed;
	bottom:45px;
	background:#1d1d1d;
	width:480px;
	height:410px;
	z-index:100;
}

.uuaa2{
	margin:5px;
	float:left;
	width:190px;
	height:400px;
}

.uuaa3{
	margin:5px;
	float:left;
	width:270px;
	height:400px;
}

.gancet{
	float:left;
	height:95px;
	width:95px;
	margin:2px;
	background:#0098f0;
}

.gancet:hover{
	float:left;
	height:95px;
	width:95px;
	margin:2px;
	background:red;
  transform:rotate(20deg);
-webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}

.gancet2{
	float:left;
	height:95px;
	width:165px;
	margin:2px;
	background:#0098f0;
}

.gancet2:hover{
	float:left;
	height:95px;
	width:165px;
	margin:2px;
	background:yellow;
  transform:rotate(-20deg);
-webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}

.recent-me{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:#0098f0;
}

.recent-me:hover{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:red;
	border-radius:100%;
  	transform:rotate(40deg);
-webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}

.recent-me1{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:red;

}

.recent-me1:hover{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:purple;
	border-radius:100%;
  	transform:rotate(-40deg);
-webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}

.recent-me2{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:purple;
}

.recent-me2:hover{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:#0098f0;
	border-radius:100%;
  	transform:rotate(40deg);
-webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}

.recent-me3{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:green;
}

.recent-me3:hover{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:yellow;
	border-radius:100%;
  	transform:rotate(-40deg);
-webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}


.recent-me4{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:yellow;
}

.recent-me4:hover{
	float:left;
	height:45px;
	width:45px;
	margin:2px;
	background:green;
	border-radius:100%;
  	transform:rotate(40deg);
-webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}

#hide-uuaa{
	display:none;
}

#button-uuaa{
	cursor:pointer;
	color:purple;
}

#mainkan{
	margin:0;
	width:100%;
	height:625px;
	display:none;
}

#mainkan2{
	margin:0;
	width:100%;
	height:625px;
	background:#fff;
	display:none;
}

.anak-main{
	width:90px;
	height:90px;
	float:left;
	margin:2px;
}

.anak-main:hover{
	width:90px;
	height:90px;
	border-radius:20%;
	background:#aaa;opacity:0.6;filter:alpha(opacity=60)
	float:left;
	margin:2px;
	cursor:pointer;
}

#button-search{
	cursor:pointer;
}

.search-w10{
	position:fixed;
	top:2px;
	right:2px;
	margin:0;
	width:200px;
	height:30px;
	background:#1d1d1d;
	border-radius:10px;
	display:none;
}

.header-boong{
	width:100%;
	height:30px;
	background:orange;opacity:0.6;filter:alpha(opacity=60)
}

.closed-w10{
	background:#d10000;margin-right:4px;float:right;color:white;text-align:center;width:50px;height:20px;font-family:sans-serif;
}

.closed-w10:hover{
	background:#ff0011;margin-right:4px;float:right;color:white;text-align:center;width:50px;height:20px;
	cursor:pointer;
}

.status-msg-body {display:none;
}
.status-msg-wrap {display:none;
}

/* Login */
.tutup-dulu{
	background:url(https://2.bp.blogspot.com/-zN1WwCe2Pr4/VykyDFwrECI/AAAAAAAABok/NRtWkDzOOjYiCzWLoY-g-rjl084k433TQCLcB/s1600/windows_10_material-wallpaper-1366x768.jpg)repeat scroll top left;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:0 auto;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:100;
}

.header-noneblande{
	width:100%;
	height:45px;
	background:#1d1d1d;
	margin:0px;
	bottom:0px;
	position:fixed;
	display:none;
}

/* Desktop */
.dekstop-home{
	background:url(https://2.bp.blogspot.com/-zN1WwCe2Pr4/VykyDFwrECI/AAAAAAAABok/NRtWkDzOOjYiCzWLoY-g-rjl084k433TQCLcB/s1600/windows_10_material-wallpaper-1366x768.jpg)repeat scroll top left;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:0 auto;
	width:100%;
	height:100%;
	overflow:auto;
	display:none;
	z-index:100;
}

.tengah-maincok{
	width:95%;
	height:650px;
	margin:5px auto;
}

.satu-kotak{
	width:290px;
	height:150px;
	background:blue;
	margin:5px;
}

.satu-kotak:hover{
	width:290px;
	height:150px;
	background:red;
	margin:5px;
	cursor:pointer;
 -webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}

.dua-kotak{
	float:left;
	width:140px;
	height:120px;
	background:yellow;
	margin:5px;
}

.dua-kotak:hover{
	float:left;
	width:140px;
	height:120px;
	background:blue;
	margin:5px;
	cursor:pointer;
 -webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}

.tiga-kotak{
	float:right;
	width:140px;
	height:120px;
	background:red;
	margin:5px;
}

.tiga-kotak:hover{
	float:right;
	width:140px;
	height:120px;
	background:yellow;
	margin:5px;
	cursor:pointer;
 -webkit-transition:all 1s ease; -moz-transition:all 1s ease; -o-transition:all 1s ease; -ms-transition:all 1s ease; transition:all 1s ease;
}

/* newers slide desk */
.mokacin{
	overflow:auto;
	background:#1c0166;
	width:345px;
	height:100%;
	position:fixed;
	top:0;
	right:0;
	z-index:100;
	display:none;
}

.anak-mokacin{
	float:left;
	width:100%;
	height:60px;
	display:none;
}

.anak-mokacin:hover{
	float:left;
	width:100%;
	height:60px;
	background:#1d1d1d;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
	-ms-transition:all 1s ease;
	transition:all 1s ease;
	opacity:0.8;
	filter:alpha(opacity=80)
}

/* Layout Apps */
#apps-main-dong{
	background:url(https://2.bp.blogspot.com/-zN1WwCe2Pr4/VykyDFwrECI/AAAAAAAABok/NRtWkDzOOjYiCzWLoY-g-rjl084k433TQCLcB/s1600/windows_10_material-wallpaper-1366x768.jpg)repeat scroll top left;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:0 auto;
	width:100%;
	height:100%;
	overflow:auto;
	display:none;
}

.cari-yuk{
	height:20px;
	width:135px;
	border:0;
	background:#00284f;
	opacity: 0.5;
	filter: alpha(opacity=50);
	color:white;
}

.cari-yuk:active{
	background:#fff;
	opacity:0.8;
	filter: alpha(opacity=80);
	color:white;
}

.tengah-main-apps{
	width:95%;
	margin:5px auto;
}

.iklan1{
	background:#011d45;
	float:left;
	margin:5px;
	height:70px;
	width:280px;
}

.iklan1:hover{
	background:#00284f;
	cursor:pointer;
	float:left;
	margin:5px;
	height:70px;
	width:280px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.magi-stel{
	float:left;
	width:50px;
	height:50px;
	margin:5px;
}

.h-empat-stel{
	color:white;
	margin-left:10px;
	margin-top:10px;
	float:left;
	font-family:sans-serif;
}

.satu-baris{
	float:left;
	width:290px;
	height:115px;
	margin:5px;
}

.dua-baris{
	float:left;
	width:290px;
	height:195px;
	margin:5px;
}

.tiga-baris{
	float:left;
	width:290px;
	height:275px;
	margin:5px;
}

.empat-baris{
	float:left;
	width:290px;
	height:355px;
	margin:5px;
}

.abzadah{
	margin:0;
	padding:5px;
	font-family:sans-serif;
	font-size:20px;
	color:white;
}

/* Settings Folder Main */
#me-sett{
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 600;
	display:none;
}
#me-sett-ban{
    background: burlywood;
    float: left;
    width: 258px;
    height: 100px;
}
#me-sett-random{
	background:burlywood;
	width:100%;
	height:100px;
}
#me-sett-random-ban{
	margin:0;
	color:burlywood;
}
#me-sett-tampilan{
	margin:0 auto;
	margin-top:-30px;
	display:none;
	width: 80%;
	height:auto;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    height: 590px;
}

#me-sett-protect{
	margin:0 auto;
	margin-top:-30px;
	display:none;
	width: 80%;
	height:auto;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
}

#me-sett-sys{
	margin:0 auto;
	display:none;
	margin-top:-30px;
	width: 80%;
	height:auto;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
}
#Gumoh{
	display:none;
	font-size:20px;
	padding:5px;
	font-family:sans-serif;
}
.me-sett-tampilan-text{
	margin-top:2px;
	background:whitesmoke;
	padding:3px;
}
.me-sett-tampilan-list{
	margin-top:5px;
	width:100%;
	height:40px;
}
.me-sett-tampilan-list-kiri{
	width:50%;
	height:40px;
	float:left;
}
.me-sett-tampilan-list-kanan{
	width:30%;
	height:40px;
	float:right;
}

/*	folder
	template
*/
.me-lepi-kehed{
    width: 100%;
    height: 30px;
    background: orange;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.me-lepi-sett-kehed{
    width: 100%;
    height: 30px;
    background: orange;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.me-lepi-chrome-kehed{
    width: 100%;
    height: 30px;
    background: orange;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.me-lepi-music-kehed{
    width: 100%;
    height: 30px;
    background: orange;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.me-lepi-closed{
    background: #d10000;
    margin-right: 4px;
    float: right;
    color: white;
    text-align: center;
    width: 50px;
    height: 20px;
    font-family: sans-serif;
}
.me-lepi-closed:hover{
	cursor:pointer;
    background: red;
    margin-right: 4px;
    float: right;
    color: white;
    text-align: center;
    width: 50px;
    height: 20px;
    font-family: sans-serif;
}
.me-lepi-tengah{
    margin: 0;
    width: 100%;
    height: 100%;
	overflow:auto;
	background:white;
}

.me-lepi-sett-tengah{
    margin: 0;
    width: 100%;
    height: 100%;
	overflow:auto;
	background:white;
}

.me-lepi-chrome-tengah{
    margin: 0;
    width: 100%;
    height: 100%;
	overflow:auto;
	background:white;
}

.me-lepi-music-tengah{
    margin: 0;
    width: 100%;
    height: 100%;
	overflow:auto;
	background:white;
}

.me-lepi-tengah-dua{
    margin: 0;
    width: 100%;
    height: 630px;
}
.me-lepi-slide {
    float: left;
    width: 258px;
    height: 100%;
    display: none;
	background:white;
}
.me-lepi-magi{
    margin-top: 20px;
    margin-left: 5px;
    border: 1px solid gray;
    float: left;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}
.me-lepi-inside{
	width: 258px;
    height: 100px;
}
.me-lepi-list {
    float: left;
    width: 258px;
    height: 40px;
}
.me-lepi-list-magi{
	float: left;
    margin: 5px;
    height: 30px;
    width: 30px;
}
.me-lepi-h-satu {
    float: left;
    margin-left: 30px;
    margin-top: 25px;
    font-family: sans-serif;
    color: #2d2d2d;
}
.me-lepi-h-empat {
    float: left;
    font-family: sans-serif;
    margin-top: -25px;
    margin-left: 90px;
    color: #2d2d2d;
}
.me-lepi-tengah-more{
    width: 100%;
}
.me-lepi-navi-one{
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    float: left;
    background: url("https://3.bp.blogspot.com/-7oIPwahYaNM/V0Eif-3KbyI/AAAAAAAABss/nDNlwyjGgdgyP4ATUNEu0JnOyTgns-9FQCLcB/s1600/mobile-nav.png");
}
.me-lepi-navi-one:hover{
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    float: left;
    background: url("https://4.bp.blogspot.com/-bmcCLRpKfl8/V0Ei_t96nTI/AAAAAAAABsw/VS2GDeyDZiAi6ss_9q0VtleGEcYa6hsTQCLcB/s1600/mobile-nav-hov.png");
}
.me-lepi-navi-two{
    cursor: pointer;
    display: none;
    margin-top: 5px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    float: left;
    background: url("https://4.bp.blogspot.com/-bmcCLRpKfl8/V0Ei_t96nTI/AAAAAAAABsw/VS2GDeyDZiAi6ss_9q0VtleGEcYa6hsTQCLcB/s1600/mobile-nav-hov.png");
}
.me-lepi-navi-two:hover{
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    float: left;
    background: url("https://3.bp.blogspot.com/-7oIPwahYaNM/V0Eif-3KbyI/AAAAAAAABss/nDNlwyjGgdgyP4ATUNEu0JnOyTgns-9FQCLcB/s1600/mobile-nav.png");
}
.me-lepi-space{
	height:150px;
}
.me-lepi-input-txt{
	cursor:default;
	float:left;
	padding:2px;
	margin:8px;
	border:none;
	background:transparent;
}
.me-lepi-button-satu{
	cursor:pointer;
	background:#f5f5f5;
	padding:4px;
}

/* Apps Folder */

#me-lepi-apzs{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 400;
	display:none;
}
#me-apzs-restore-down{
	background:url("https://4.bp.blogspot.com/-YR4ZOV18VsQ/V0dTTUeZ5ZI/AAAAAAAABv0/FjCD5eXxD0IUKmSZkGSS8zu25wbxvpn4wCLcB/s1600/me-restore-down.png");
	float:right;
	width:20px;
	height:20px;
	margin-right:2px;
}
#me-apzs-restore-down:hover{
	background:url("https://3.bp.blogspot.com/-fk4UE0EeseQ/V0dTSxZ73hI/AAAAAAAABvw/73FbkjtYlvQyyxpgSnsqRMJxqQGtKoI_ACLcB/s1600/me-restore-down-hover.png");
	background-color:blue;
	float:right;
	width:20px;
	height:20px;
	margin-right:2px;
}

#me-apzs-maximize{
	display:none;
	background:url("https://3.bp.blogspot.com/-b5NXQEFU2sk/V0dTSzwpyJI/AAAAAAAABvs/p8DdSjxOS88sGMyZX5C_ck_SkANp-AUnACLcB/s1600/me-maximize.png");
	float:right;
	width:20px;
	height:20px;
	margin-right:2px;
}
#me-apzs-maximize:hover{
	background:url("https://4.bp.blogspot.com/-2-KjiYr6GWc/V0dTSnxPNzI/AAAAAAAABvo/Ptjsq1Au0mAjOC3i8AoXwSiykTBpMtEdwCLcB/s1600/me-maximize-hover.png");
	background-color:blue;
	float:right;
	width:20px;
	height:20px;
	margin-right:2px;
}

#apzs-minim{
	background: #666;
    display: none;
    cursor: pointer;
}
#me-apzs-manimize{
    background: url("https://2.bp.blogspot.com/-wmAFLywMXNA/V0dTST93xkI/AAAAAAAABvk/HJycgYcjmEoLc9AUOtW7R8X9kyTt2lXvgCLcB/s1600/me-manimize.png");
    float: right;
    width: 20px;
    height: 20px;
    margin-right: 2px;

}
#me-apzs-manimize:hover{
    background: url("https://4.bp.blogspot.com/-N4etbHXa5V0/V0dTSOjm0bI/AAAAAAAABvg/JgqJmjKnz08L-j2nfWRUomUHg3x4rL2JACLcB/s1600/me-manimize-hover.png");
	background-color:blue;
    float: right;
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

#me-apps-random{
	background: cadetblue;
    width: 100%;
    height: 100px;
}

#me-apps-random-ban{
	margin:0;
	color: cadetblue;
	font-family:sans-serif;
}

#me-apps-ban {
    background: cadetblue;
    float: left;
    width: 258px;
    height: 100px;
}

#apps-btn2{
	margin:0 auto;
	display:none;
	width: 80%;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	margin-top:-30px;
}
#apps-btn3{
	margin:0 auto;
	display:none;
	width: 80%;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	margin-top:-30px;
}
#apps-btn4{
	margin:0 auto;
	display:none;
	width: 80%;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	margin-top:-30px;
}
#me-apps-tampilan{
	margin:0 auto;
	display:none;
	width: 80%;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	margin-top:-30px;
}

#me-align{
	width:90px;
	background:#f5f5f5;
	height:30px;
	margin:5px auto;
}
#me-kiri{
	float:left;
	background:url("https://2.bp.blogspot.com/-3eNBHFASkZ0/V0NoBwG0e8I/AAAAAAAABtw/xycChE2Al44OICbG7ak1A0B6z3kLZlr2wCLcB/s1600/kiri.png");
	width:20px;
	height:20px;
	margin:5px;
	cursor:pointer;
}
#me-kiri:hover{
	float:left;
	background:url("https://2.bp.blogspot.com/-3eNBHFASkZ0/V0NoBwG0e8I/AAAAAAAABtw/xycChE2Al44OICbG7ak1A0B6z3kLZlr2wCLcB/s1600/kiri.png");
	width:18px;
	height:18px;
	margin:5px;
	cursor:pointer;
	border:1px solid black;
}
#me-kanan{
	float:left;
	background:url("https://4.bp.blogspot.com/-pS1uWoMpE9A/V0NoB-lc00I/AAAAAAAABt0/ZVP_KRpoIXwqygMywLtmX3R-bg0yUftowCLcB/s1600/kanan.png");
	width:20px;
	height:20px;
	margin:5px;
	cursor:pointer;
}
#me-kanan:hover{
	float:left;
	background:url("https://4.bp.blogspot.com/-pS1uWoMpE9A/V0NoB-lc00I/AAAAAAAABt0/ZVP_KRpoIXwqygMywLtmX3R-bg0yUftowCLcB/s1600/kanan.png");
	width:18px;
	height:18px;
	margin:5px;
	cursor:pointer;
	border:1px solid black;
}
#me-tengah{
	float:left;
	background:url("https://1.bp.blogspot.com/-CyhSSlm9Wks/V0NoBRrjriI/AAAAAAAABts/LcLRhl_sM1MTMIRNcGi1TOICMbM-93DegCLcB/s1600/Tengah.png");
	width:20px;
	height:20px;
	margin:5px;
	cursor:pointer;
}
#me-tengah:hover{
	float:left;
	background:url("https://1.bp.blogspot.com/-CyhSSlm9Wks/V0NoBRrjriI/AAAAAAAABts/LcLRhl_sM1MTMIRNcGi1TOICMbM-93DegCLcB/s1600/Tengah.png");
	width:18px;
	height:18px;
	margin:5px;
	cursor:pointer;
	border:1px solid black;
}
.input {
	width: 500px;
	height: 300px;
	margin: 0 auto;
}
.joger {
	margin-top: 40px;
}
#canvas {
	cursor: crosshair;
}
#canvas, #html {
	border: 1px solid #000;
}
.filename {
	text-align: right;
}

/* Chrome Browser Folder */

#me-chromeKW{
	width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 600;
	display:none;
}

#me-chromeKW-restore-down{
	background:url("https://4.bp.blogspot.com/-YR4ZOV18VsQ/V0dTTUeZ5ZI/AAAAAAAABv0/FjCD5eXxD0IUKmSZkGSS8zu25wbxvpn4wCLcB/s1600/me-restore-down.png");
	float:right;
	width:20px;
	height:20px;
	margin-right:2px;
}
#me-chromeKW-restore-down:hover{
	background:url("https://3.bp.blogspot.com/-fk4UE0EeseQ/V0dTSxZ73hI/AAAAAAAABvw/73FbkjtYlvQyyxpgSnsqRMJxqQGtKoI_ACLcB/s1600/me-restore-down-hover.png");
	background-color:blue;
	float:right;
	width:20px;
	height:20px;
	margin-right:2px;
}

#me-chromeKW-maximize{
	display:none;
	background:url("https://3.bp.blogspot.com/-b5NXQEFU2sk/V0dTSzwpyJI/AAAAAAAABvs/p8DdSjxOS88sGMyZX5C_ck_SkANp-AUnACLcB/s1600/me-maximize.png");
	float:right;
	width:20px;
	height:20px;
	margin-right:2px;
}
#me-chromeKW-maximize:hover{
	background:url("https://4.bp.blogspot.com/-2-KjiYr6GWc/V0dTSnxPNzI/AAAAAAAABvo/Ptjsq1Au0mAjOC3i8AoXwSiykTBpMtEdwCLcB/s1600/me-maximize-hover.png");
	background-color:blue;
	float:right;
	width:20px;
	height:20px;
	margin-right:2px;
}

#chromeKW-minim{
	background: #666;
    display: none;
    cursor: pointer;
}
#me-chromeKW-manimize{
    background: url("https://2.bp.blogspot.com/-wmAFLywMXNA/V0dTST93xkI/AAAAAAAABvk/HJycgYcjmEoLc9AUOtW7R8X9kyTt2lXvgCLcB/s1600/me-manimize.png");
    float: right;
    width: 20px;
    height: 20px;
    margin-right: 2px;

}
#me-chromeKW-manimize:hover{
    background: url("https://4.bp.blogspot.com/-N4etbHXa5V0/V0dTSOjm0bI/AAAAAAAABvg/JgqJmjKnz08L-j2nfWRUomUHg3x4rL2JACLcB/s1600/me-manimize-hover.png");
	background-color:blue;
    float: right;
    width: 20px;
    height: 20px;
    margin-right: 2px;
}
#me-chromeKW-random{
	background: coral;
    width: 100%;
    height: 100px;
}
#me-chromeKW-ban {
    background: coral;
    float: left;
    width: 258px;
    height: 100px;
}
#me-chromeKW-random-ban{
	color: coral;
}
#me-chromeKW-main {
    margin: 0 auto;
    margin-top:-30px;
    display: none;
    width: 80%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    height: 500px;
}
#me-chromeKW-tampilan {
    margin: 0 auto;
    margin-top:-30px;
    display: none;
    width: 80%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    height: 590px;
}
.gOSearch-inPut{
	font-size:15px;
	padding:10px;
	background:#f5f5f5;
	border:0;
	border-radius:2px;
	color:gray;
}
.gOSearch-inPut:hover{
	font-size:15px;
	padding:9px;
	background:#f7f7f7;
	border:1px solid gray;
	border-radius:2px;
	color:#1d1d1d;
}

/* battery Fake */

#baterry-fake{
	position:fixed;
	width:180px;
	height:180px;
	border:8px solid orange;
	bottom:50px;
	right:100px;
	background:white;
	margin:0;
	display:none;
}

/* Slide Right Desktop */

#sright-w10{
	cursor:default;
	position:fixed;
	top:0px;
	right:0px;
	z-index:50;
	width:10px;
	height:100%;
	opacity:0;
	filter: alpha(opacity=0);
	-webkit-transition:All 0.1s ease-in-out;
	-moz-transition:All 0.1s ease-in-out
}

#sright-w10:hover{
	overflow:auto;
	background:#1d1d1d;
	width:110px;
	height:100%;
	opacity:9;
}

#btn1{
	position:fixed;
	bottom:20px;
	left:20px;
	width:auto;
	height:auto;
	opacity:0;
	filter: alpha(opacity=0);
	-webkit-transition:All 0.2s ease-in-out;
	-moz-transition:All 0.1s ease-in-out;
}

#btn1:hover{
	position:fixed;
	width:auto;
	height:auto;
	bottom:20px;
	left:40px;
	cursor:pointer;
	border-radius:100%;
	filter:alpha(opacity=9);
	opacity:9;
}

#btn2{
	position:fixed;
	bottom:20px;
	left:20px;
	width:auto;
	height:auto;
	opacity:0;
	filter: alpha(opacity=0);
	-webkit-transition:All 0.2s ease-in-out;
	-moz-transition:All 0.1s ease-in-out;
}

#btn2:hover{
	position:fixed;
	width:auto;
	height:auto;
	bottom:20px;
	left:40px;
	cursor:pointer;
	border-radius:100%;
	filter:alpha(opacity=9);
	opacity:9;
}

/* Volume Main */

#vol-main{
	border:8px solid orange;
	width:60px;
	height:225px;
	background:white;
	position:fixed;
	right:75px;
	bottom:50px;
	display:none;
}
#vol-1oo{
	width:40px;
	height:130px;
	display:none;
}
#vol-5o{
	width:40px;
	height:130px;
	display:none;
}
#vol-o{
	width:40px;
	height:130px;
}

/* Wifi Main */

.fakah{
	border:2px solid #000038;
	float:right;
	height:20px;
	width:60px;
	margin:5px;
	background:#4418b5;
}

.fakah-anak{
	float:left;
	height:16px;
	width:18px;
	background:white;
}
.fakah-anak2{
	float:right;
	height:16px;
	width:18px;
	background:white;
}
.suazana{
	float:left;
	width:60px;
	height:40px;
}
.suazana:hover{
	float:left;
	width:60px;
	height:40px;
	background:#1d1d1d;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:pointer;
}

<!-- Halaman 404 -->
#c{
	display:block;
	z-index:8888888;
}
#error-page{
	background:url(https://lh3.googleusercontent.com/-9UqNEZzeRAg/U2E9-C4tUYI/AAAAAAAAlUM/RebXWATjD-Q/s0-d/matriximproved.gif) no-repeat;
	position:fixed !important;
	position:absolute;
	text-align:center;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:8888889;
	text-shadow:0 3px 4px #000;
	color:white;
}
#error-page a:link,#error-page a:visited,#error-page a:hover{
	text-decoration:none;
	color:#fff;
	font-weight:bold;
}
#error-inner{margin:11% auto;}
#error-inner .box-404 {
	width:200px;
	height:200px;
	background:rgba(1,0,1,0.9);
	color:#ccc;
	font-size:80px;
	line-height:200px;
	border-radius:10px;
	margin:0 auto 50px;
	position:relative;
	z-index:9999;
	box-shadow:0 3px 4px #000;
	border:1px solid #333;
	text-shadow:0 3px 4px #000;
}
#error-inner .box-404::after {
	content:"";
	width:0; height:0;
	bottom:-8px;
	border-color:#21afa4 transparent transparent;
	border-style:solid;
	border-width:9px 9px 0;
	position:absolute; left:47%;
}
#error-inner h1{text-transform:uppercase;}
#search-box{
	position:relative;
	width:350px;
	margin:10px auto;
}
#cse-search-box{
	height:30px;
	border-radius:5px;
	background-color:#fff;
	overflow:hidden;
	box-shadow:0 3px 4px #000;
	border:1px solid #333;
}
#search-text{
	font-size:12px;
	color:#ddd;
	border-width:0;
	background:transparent;
}
#search-box input[type="text"]{
	width:85%;
	padding:5px 20px 12px 0;
	color:#666;
	outline:none;
}
#search-button{
	position:absolute;
	top:0;
	right:0;
	height:32px;
	width:20px;
	margin-top:10px;
	font-size:14px;
	color:#fff;
	text-align:center;
	line-height:0;
	border-width:0;
	background:url(http://1.bp.blogspot.com/_C6KkooKXCEw/TIBqtV6pdmI/AAAAAAAAGyM/QUBsym_R9V0/s200/search-c.png) no-repeat;
	cursor:pointer;
}
#error-inner p{
	line-height:0.7em;
	font-size:15px;
}

/* Music Folder css */
#gOmUsic{
	width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 600;
	display:none;
}
#musik-minim{
	background: #666;
    display: none;
    cursor: pointer;
}
#me-musik-manimize{
    background: url("https://2.bp.blogspot.com/-wmAFLywMXNA/V0dTST93xkI/AAAAAAAABvk/HJycgYcjmEoLc9AUOtW7R8X9kyTt2lXvgCLcB/s1600/me-manimize.png");
    float: right;
    width: 20px;
    height: 20px;
    margin-right: 2px;

}
#me-musik-manimize:hover{
    background: url("https://4.bp.blogspot.com/-N4etbHXa5V0/V0dTSOjm0bI/AAAAAAAABvg/JgqJmjKnz08L-j2nfWRUomUHg3x4rL2JACLcB/s1600/me-manimize-hover.png");
	background-color:blue;
    float: right;
    width: 20px;
    height: 20px;
    margin-right: 2px;
}
#me-gOmUsic-random{
	background: orange;
    width: 100%;
    height: 100px;
}
#me-gOmUsic-ban {
    background: orange;
    float: left;
    width: 258px;
    height: 100px;
}
#me-gOmUsic-random-ban{
	color: orange;
}
#me-gOmUsic-tampilan {
    margin: 0 auto;
    margin-top:-30px;
    display: none;
    width: 80%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    height: 660px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.hide {
  display: none !important;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}
/* Player and control panel */
.ap {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  margin: auto;
  font-family: Arial, sans-serif;
  font-size: 14px;
  user-select: none;
  color: #333;
  background: #f1f1f1;
  border-top: 1px solid #ccc;
  z-index: 9999;
}
.ap-inner {
  max-width: 1440px;
  margin: 0 auto;
}
.ap-panel {
  display: flex;
}
.ap-item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.ap--track {
  flex: 1 40%;
  padding: 0 20px;
}

/* Info section */
.ap-info {
  width: 100%;
  position: relative;
  align-self: flex-start;
  padding: 5px 0 0;
}
.ap-title {
  position: relative;
  overflow: hidden;
  padding-right: 80px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ap-time {
  position: absolute;
  top: 5px;
  right: 0;
}
.ap-progress-container {
  padding: 5px 0 10px;
  cursor: pointer;
}
.ap-progress {
  position: relative;
  height: 3px;
  border-radius: 5px;
  background: rgba(0,0,0,.2);
}
.ap-preload-bar,
.ap-bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  border-radius: 5px 0 0 5px;
  background: rgba(0,0,0,.3);
  z-index: 999;
}
.ap-bar {
  background: #f50;
  z-index: 9999;
}
.ap-bar:after {
  position: absolute;
  top: 0;
  right: -5px;
  width: 12px;
  height: 12px;
  margin-top: -4px;
  content: '';
  border-radius: 6px;
  background: #f50;
  opacity: 0;
  transition: opacity .3s ease;
}
.ap-progress-container:hover .ap-bar:after {
  opacity: 1;
}

/* Buttons */
.ap-controls {
  position: relative;
  z-index: 1000;
  display: block;
  height: 50px;
  cursor: pointer;
  transition: background .2s ease;
  text-align: center;
  color: #fff;
  border: 0;
  outline: 0;
  background: none;
}
.ap-controls svg {
  fill: #333;
}
.ap-controls:hover svg {
  fill: #222;
}
.ap-controls:active {
  background: rgba(0,0,0,.1);
}
.ap--playback > .ap-controls,
.ap--settings > .ap-controls {
  flex: 0 25%;
}
.ap--pause,
.playing > .ap--play {
  display: none;
}
.playing > .ap--pause {
  display: inline;
}
.ap-volume-container {
  z-index: 9999;
}
.ap-volume {
  position: absolute;
  right: 0;
  bottom: 50px;
  overflow: hidden;
  width: 100%;
  height: 0;
  visibility: hidden;
  transition: height .2s cubic-bezier(0.17, 0.72, 0.26, 1.23);
  background: #ddd;
  border: 1px solid #ccc;
  border-bottom: 0;
  z-index: 9999;
}
.ap-volume-btn {
  display: block;
  text-align: center;
  width: 100%;
}
.ap-volume-btn > .ap--volume-off,
.muted > .ap--volume-on {
  display: none;
}
.muted > .ap--volume-off {
  display: inline;
}
.ap-volume-container:hover {
  background: #ddd;
}
.ap-volume-container:hover .ap-volume {
  height: 120px;
  visibility: visible;
}
.ap-volume-progress {
  display: block;
  width: 4px;
  height: 100px;
  margin: 10px auto;
  background: rgba(0,0,0,.2);
  position: relative;
  border-radius: 3px;
}
.ap-volume-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f50;
  height: 50%;
  border-radius: 3px;
}

.ap-active {
  background: rgba(0,0,0,.15);
  opacity: 1;
}

@keyframes blink {
  from { opacity: 0; }
  50% { opacity: 1; }
  to { opacity: 0; }
}
.playing > .ap--pause {
  animation: blink 1.5s linear infinite;
}
/* --------------------------- */

@media(max-width:880px) {
  .ap-item > .ap-controls {
    flex: 1;
  }
}
@media(max-width:550px) {
  .ap {
    min-width: 250px;
  }
  .ap, .ap-panel {
    height: auto;
  }
  .ap-panel {
    flex-wrap: wrap;
  }
  .ap--track {
    margin-bottom: 10px;
    padding: 0 20px;
    order: 1;
    flex: 1 1 100%;
  }
  .ap--playback,
  .ap--settings {
    flex: 1 1 50%;
    order: 2;
  }
}
/*--------------------
  PlayList
--------------------*/
.pl-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 50px;
  left: 0;
  margin: auto;
  overflow: auto;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background: #f1f1f1;
  z-index: 999;
}
.pl-lead {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #333;
}
.pl-list {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding: 30px 10px;
}
.pl-list > li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.pl-number,
.pl-title,
.pl-remove {
  margin: 0 5px;
  padding: 10px 0;
}
.pl-number {
  flex: 0 10%;
  text-align: center;
}
.pl-playing {
  display: none;
}
.pl-current .pl-count {
  display: none;
}
.pl-current .pl-playing {
  display: block;
}
.pl-current .pl-title {
  font-weight: 700;
}

.pl-title {
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}
.pl-title:hover {
  text-decoration: underline;
}
.pl-remove {
  opacity: 0;
  margin-right: 0;
  cursor: pointer;
  text-align: center;
  flex: 0 50px;
}
.pl-remove:hover {
  background: #ddd;
}
.pl-list > li:hover .pl-remove {
  opacity: 1;
}

.pl-list svg {
  fill: rgba(0,0,0, .7);
}

.pl-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
  color: #ccc;
}

@keyframes eq {
  0% { height: 3px; }
  50% { height: 20px; }
  100% { height: 3px; }
}
.eq {
  display: flex;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-end;
}
.eq-bar {
  width: 4px;
  background: rgba(0,0,0,.7);
}
.eq-bar:nth-child(1) {
  animation: eq .8s ease-in-out infinite 0s;
}
.eq-bar:nth-child(2) {
  animation: eq .8s ease-in-out infinite .2s;
}
.eq-bar:nth-child(3) {
  animation: eq .8s ease-in-out infinite .4s;
}

/* Bin Folder */
#me-bin-main{
	width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 400;
    display: none;
}


/*! kehead bin */
.me-bin-kehed{
    width: 100%;
    height: 30px;
    background: orange;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
#me-restore-down{
	background:url("https://4.bp.blogspot.com/-YR4ZOV18VsQ/V0dTTUeZ5ZI/AAAAAAAABv0/FjCD5eXxD0IUKmSZkGSS8zu25wbxvpn4wCLcB/s1600/me-restore-down.png");
	float:right;
	width:20px;
	height:20px;
	margin-right:2px;
}
#me-restore-down:hover{
	background:url("https://3.bp.blogspot.com/-fk4UE0EeseQ/V0dTSxZ73hI/AAAAAAAABvw/73FbkjtYlvQyyxpgSnsqRMJxqQGtKoI_ACLcB/s1600/me-restore-down-hover.png");
	background-color:blue;
	float:right;
	width:20px;
	height:20px;
	margin-right:2px;
}

#me-maximize{
	display:none;
	background:url("https://3.bp.blogspot.com/-b5NXQEFU2sk/V0dTSzwpyJI/AAAAAAAABvs/p8DdSjxOS88sGMyZX5C_ck_SkANp-AUnACLcB/s1600/me-maximize.png");
	float:right;
	width:20px;
	height:20px;
	margin-right:2px;
}
#me-maximize:hover{
	background:url("https://4.bp.blogspot.com/-2-KjiYr6GWc/V0dTSnxPNzI/AAAAAAAABvo/Ptjsq1Au0mAjOC3i8AoXwSiykTBpMtEdwCLcB/s1600/me-maximize-hover.png");
	background-color:blue;
	float:right;
	width:20px;
	height:20px;
	margin-right:2px;
}
#me-manimize{
	background:url("https://2.bp.blogspot.com/-wmAFLywMXNA/V0dTST93xkI/AAAAAAAABvk/HJycgYcjmEoLc9AUOtW7R8X9kyTt2lXvgCLcB/s1600/me-manimize.png");
	float:right;
	width:20px;
	height:20px;
	margin-right:2px;
}
#me-manimize:hover{
	background:url("https://4.bp.blogspot.com/-N4etbHXa5V0/V0dTSOjm0bI/AAAAAAAABvg/JgqJmjKnz08L-j2nfWRUomUHg3x4rL2JACLcB/s1600/me-manimize-hover.png");
	background-color:blue;
	float:right;
	width:20px;
	height:20px;
	margin-right:2px;
}


#me-bin-kehead{
	width:100%;
	height:45px;
	background:#1d1d1d;
	margin:0px;
	bottom:0px;
	position:fixed;
}
#bin-minim{
	background:#666;
	display:none;
	cursor:pointer;
}

/* Tengah bin */
.me-bin-tengah {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: white;
}
#me-bin-random {
    background: mediumseagreen;
    width: 100%;
    height: 100px;
}
#me-bin-ban {
    background: mediumseagreen;
    float: left;
    width: 258px;
    height: 100px;
}
#me-bin-random-ban{
	color: mediumseagreen;
}

.me-lepi-button-satu:hover{
	background:#ccc;
	color:#3d3d3d;
	-webkit-transition:all 0s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
	-ms-transition:all 1s ease;
	transition:all 1s ease;
}

/*! bin-main */
#me-bin {
    margin: 0 auto;
    display: none;
    width: 80%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    margin-top: -30px;
    height: 500px;
	overflow:auto;
}

#me-bin-tampilan {
    margin: 0 auto;
    display: none;
    width: 80%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    margin-top: -30px;
    height: 590px;
}
.sampah-main{
	background:#555;
	width:205px;
	height:215px;
	float:left;
	margin:5px;
}
.sampah-main-anak img{
	background:#fff;
	width:195px;
	height:170px;
	margin:5px;
}
.sampah-title{
    background: #fff;
	padding-top:3px;
	padding-left:2px;
    width: 100%;
    height: 27px;
    text-align: left;
}
.sampah-delete img{
	cursor:pointer;
    width: 15px;
    height: 30px;
    float: right;
    margin-top: -29px;
	background:transparent;
	-webkit-transition:all 0s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
	-ms-transition:all 1s ease;
	transition:all 1s ease;
	opacity:0;
}

.sampah-delete img:hover{
	cursor:pointer;
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -28px;
	-webkit-transition:all 0s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
	-ms-transition:all 1s ease;
	transition:all 1s ease;
	opacity:1;
}

.sampah-delete img:active{
	background:#555;
	cursor:pointer;
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -28px;
	-webkit-transition:all 0s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
	-ms-transition:all 1s ease;
	transition:all 1s ease;
	opacity:1;
	cursor:default;
}

#hps-kembalikan{
	margin:5px;
	display:none;
}
