/*
///////////// Copyright 2016 by iyortml //////////////////
*/

html, body{
	margin:0;
	width:100%;
	height:100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #fdfdfd; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #fdfdfd; 
}

h1, h2, h3, h4, h5, p, b, i{
	margin:0;
}

a{
	text-decoration:none;
}

header{
	margin:0;
	height:100px;
	background:cornflowerblue;
}

header h1{
	padding:8px;
	font-family:sans-serif;
	color:white;
	float:left;
}

header .navHeader{
	font-family:sans-serif;
	width:40px;
	height:40px;
	float:right;
}

header .navHeader:hover{
	font-family:sans-serif;
	width:40px;
	height:40px;
	background:cornflowerblue;
	opacity:0.6;
	float:right;
}

#Moreforme{
    position: fixed;
    width: 150px;
    top: 35px;
	right:5px;
    background: white;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	z-index:2;
	display:none;
}

#convas{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
	right:0;
    background: white;
	z-index:1;
	display:none;
	opacity:0.4;
	overflow:hidden;
}

.moreMeChat{
	height:30px;
}

.moreMeChat:hover{
	height:30px;
	background:#fafafa;
}

.moreMeChat i{
	float:left;
	color:dimgray;
	margin:5px;
}

.moreMeChat p{
    color: dimgray;
    margin: 0px;
    padding-top: 5px;
    padding-left: 50px;
    font-size: 12px;
}

.spasi{
	height:40px;
	background:#fff;
}

.navHeader .navi{
	font-family:sans-serif;
	width:5px;
	height:3px;
	background:#fff;
	margin:6px auto;
}

.tabs{
	width:90%;
	height:60px;
	margin:auto;
	margin-top:-60px;
	text-align:center;
}

.tabs i{
	color:#aaa;
	font-size:20px;
	margin-top:15px;
}


.tabs i:hover{
	color:cornflowerblue;
	font-size:20px;
	margin-top:15px;
}


.monkeytabs{
	width:25%;
	height:60px;
	background:ghostwhite;
	float:left;
	margin:0;
}

.monkeytabs:hover{
	width:25%;
	height:60px;
	background:cornflowerblue;
	float:left;
	margin:0;
}

.tobs{
	width:100%;
	height:55px;
	background:ghostwhite;
	float:left;
	margin:0;
}

/* Radio Main */
#summonRadio{
	width: 100%;
    height: 80px;
    background: cornflowerblue;
    position: fixed;
    bottom: 0;
}

#summonRadio object{
	margin: auto;
	width: 100%;
    height: 80px;
}

/* Status Kamu */

#titlelatle{
    margin: 0;
    color: #aaa;
    width: 100%;
	height:300px;
}

.mainNavRight{
	width: 40px;
    height: 40px;
    float: right;
}

.mainNavRight:hover,
.mainNavRight:focus,
.mainNavRight:active{
	width: 40px;
    height: 40px;
    background: lightskyblue;
    float: right;
}

.mainNavRight i{
	margin-top:11px;
	margin-left:12px;
	color:white;
}

.meStatus{
	height:40px;
	background:#fafafa;
}

.meStatus input{
	width:60%;
	height:25px;
	margin:5px;
	border:none;
	background:transparent;
	padding-left:5px;
}

.tampilStat{
	width: 90%;
    height: 200px;
    padding: 10px;
    background: white;
    margin: 5px auto;
    text-align: left;
	overflow-y:auto;
}

.tampilStat input{
	width:90%;
	border:none;
	cursor:default;
	margin:5px;
}

.tampilUser{
	width: 90%;
    padding: 10px;
    background: white;
    margin: 5px auto;
    text-align: left;
	overflow-y:auto;
}

#meDate{
	float:right;
	padding:2px;
	color:#ccc;
    font-size: 12px;
	margin:auto;
	cursor:default;
}

#meCUser{
	float:left;
	padding:2px;
	color:#555;
    font-size: 12px;
	margin:auto;
	cursor:default;
}

#meHps{
	background: whitesmoke;
}

/* Musik Main */

#musikDownload{
    margin: auto;
    text-align: center;
    color: #aaa;
    width: 100%;
	height:300px;
	display:none;
}


/* meEmbed Main */

#meEmbed{
    margin:auto;
    text-align: left;
    color: #aaa;
    width: 100%;
	height:300px;
	display:none;
}

#meEmbed textarea{
	width:100%;
	height:100%;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("http://www.siwallpaperhd.com/wp-content/uploads/2015/06/awesome_music_wallpaper_hd_20.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("http://wallpapercave.com/wp/hhAoz3v.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("http://www.pixelstalk.net/wp-content/uploads/2016/05/Background-download-music-wallpaper.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.flor{
	color: #777;
	background-color:white;
	text-align:center;
	padding:50px 80px;
	text-align: justify;
}

.stress{
	height:60px;
}

/* meMail Main */

#meMail{
    margin: auto;
    text-align: center;
    color: #aaa;
    width: 100%;
	height:300px;
	display:none;
}
